html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1:focus {
    outline: none;
}

a, .btn-link {
    color: #0071c1;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHZpZXdCb3g9IjAgMCA1NiA0OSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEzLjUgNi41TDIwLjUgNi41TDIwLjUgMjAuNUwxMy41IDIwLjVMMTMuNSA2LjVaIiBmaWxsPSIjRkZENTAwIi8+CjxwYXRoIGQ9Ik0yNC41IDYuNUwzMS41IDYuNUwzMS41IDIwLjVMMjQuNSAyMC41TDI0LjUgNi41WiIgZmlsbD0iI0ZGRDUwMCIvPgo8cGF0aCBkPSJNMzUuNSA2LjVMNDIuNSA2LjVMNDIuNSAyMC41TDM1LjUgMjAuNUwzNS41IDYuNVoiIGZpbGw9IiNGRkQ1MDAiLz4KPHBhdGggZD0iTTEzLjUgMjQuNUwyMC41IDI0LjVMMjAuNSAzOC41TDEzLjUgMzguNUwxMy41IDI0LjVaIiBmaWxsPSIjRkZENTAwIi8+CjxwYXRoIGQ9Ik0yNC41IDI0LjVMMzEuNSAyNC41TDMxLjUgMzguNUwyNC41IDM4LjVMMjQuNSAyNC41WiIgZmlsbD0iI0ZGRDUwMCIvPgo8cGF0aCBkPSJNMzUuNSAyNC41TDQyLjUgMjQuNUw0Mi41IDM4LjVMMzUuNSAzOC41TDM1LjUgMjQuNVoiIGZpbGw9IiNGRkQ1MDAiLz4KPC9zdmc+) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }
